* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  outline: none !important;
  text-decoration: none !important;
}

.input-group1,
.password-box,
.useeffect {
  border: 2px solid #8e8a8e;
  border-radius: 20px;
  box-shadow: 0 0 5px gray;
  padding: 15px;
}

.input1 {
  border: 1px solid lightskyblue;
  border-radius: 10px;
  padding: 2px 5px;
}

.btn-send {
  border: 1px solid transparent;
  background-color: blue;
  border-radius: 20px;
}

.text-area {
  border: 1px solid lightskyblue;
  border-radius: 10px;
  padding: 2px 5px;
  resize: none;
}

.-ms-10 {
  margin-left: -10px;
}